<footer class="container-fluid" style="background: black;color: white;">
    <div class="card-body text-center ">
        <p class="card-text mb-1" style="margin-top: 40px;">Copyright&nbsp;©&nbsp;<span id="year-info">2020</span>
            Powered&nbsp;by&nbsp;Flask.
        </p>
        <p class="mb-0">
            <a href="http://www.beian.miit.gov.cn/" target="_blank">DUANZHENBIAO</a>&nbsp;|
            <a href="/sitemap.xml" target="_blank">Sitemap</a>
            |&nbsp;<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278628227'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278628227' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1278628227"><a href="https://www.cnzz.com/stat/website.php?web_id=1278628227" target="_blank" title="站长统计">站长统计</a></span><script src="https://s9.cnzz.com/z_stat.php?id=1278628227" type="text/javascript"></script><script src="https://c.cnzz.com/core.php?web_id=1278628227&amp;t=z" charset="utf-8" type="text/javascript"></script>
            <span id="web-day">| 网站已续航 192 天</span>
        </p>
        <script>function getnewYear(){var d = new Date();var old = new Date('2020/08/29');
            var x = document.getElementById("year-info");
            x.innerHTML=d.getFullYear();var y=document.getElementById("web-day");
            var dd=Math.floor((d.getTime() - old.getTime()) / (24 * 3600 * 1000));
            var d_str="| 网站已续航 "+dd+" 天";y.innerHTML=d_str;}getnewYear()</script>
    </div>
</footer>